<ion-header>
  <ion-toolbar>
    <ion-title>Etre transporteur?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='background'>
    <br>
    <br>
    <br>
    <br>

  <p class="ion-text-center">Pour etre un transporteur, il faut ajouter une photo de votre liscence de conduite</p>



    <div class="ion-text-center">
        <ion-card *ngIf="imageData else elseBlock">
          <img src="{{imageData}}" alt="">
        </ion-card>
    
      
          <ion-button (click)="addImage()" fill="outline" color="dark">
            <ion-icon slot="start" name="camera"></ion-icon>
            Prendre photo
          </ion-button>
          <ion-button fill="outline" color="dark" (click)="save()">
              Ajouter photo
            </ion-button>
      </div>

      

</ion-content>
